<h1 class="topbar"><img src="img/logo_site.png" class="img-rounded"></h1>

<form ng-submit="tc.salida(tc.id_carnet)">
  <div class="form-group">
    <label for="id_carnet">Id carnet</label>
    <input type="text" class="form-control" id="id_carnet" placeholder="Id carnet" ng-model="tc.id_carnet" required>
  </div>
  <button type="submit" class="btn btn-default btn-kuiqi">pass</button>
</form>

<!--<button type="button" ng-click="tc.servo180()" class="btn btn-default">Servo 180</button>
<button type="button" ng-click="tc.servoOff()" class="btn btn-default">Servo Off</button>-->