<h1 class="topbar"><img src="img/logo_site.png" class="img-rounded"></h1>
<div ng-show="vc.showError" class="alert alert-danger text-center" role="alert">{{vc.messageAlert}}</div>
<div ng-show="vc.showSucess" class="alert alert-sucess-kuiqi text-center" role="alert">{{vc.messageAlert}}</div>
<form ng-submit="vc.vincular(vc.student)">
  <div class="form-group">
    <label for="id_carnet">ID carnet</label>
    <input type="text" class="form-control" id="id_carnet" placeholder="Id carnet" ng-model="vc.student.id_carnet" required>
  </div>
  <div class="form-group">
    <label for="celular">Teléfono Celular</label>
    <input type="text" class="form-control" id="celular" placeholder="Celular" ng-model="vc.student.cellphone" required>
  </div>
  <div class="form-group">
    
    <div class="dropdown">
	  <button class="btn-kuiqi" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Bolsillo
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dLabel">
	    <li>bolsillo1</li>
	    <li>bolsillo2</li>
	  </ul>
	</div>
  </div>
  <div class="row text-right">
  	<button type="submit" class="btn btn-default btn-kuiqi">Vincular</button>
  </div>
  
</form>